.lt_goCart {
    height: 55px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 3px solid #f00;
    background-color: #EFEFF4;
    /* line-height: 55px; */
    padding: 10px 10px 0;
}

.go_cart {
    color: #007AFF;
    padding-top: 4px;
}

.productInfo {
    padding: 0 10px;
}

.itemBox {
    /* height: 42px;
    line-height: 42px; */
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 0;
    color: #000;
}

.proName {
    font-weight: 700;
}

.price {
    color: #f00;
}

.oldPrice {
    text-decoration: line-through;
    font-size: 12px;
}

.size span {
    display: inline-block;
    padding: 0 3px;
    border: 1px solid #000;
    margin: 0 5px;
}

.size span.active {
    background-color: #0064B2;
    color: #fff;
}

.mui-numbox {
    display: inline-block;
}

.num span {
    font-size: 14px;
}