html,
body {
    width: 100%;
    height: 100%;
}

.lt_aside {
    width: 180px;
    height: 100%;
    background-color: #222D32;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 1s;
}

.lt_aside.hidemenu {
    left: -180px;
}

.aside_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #367FA9;
    color: #fff;
    font-size: 22px;
    text-align: center;
}

.user_info {
    width: 180px;
    height: 180px;
    /* background-color: pink; */
    overflow: hidden;
}

.user_info img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 35px;
}

.user_info p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.control_cate {
    margin-top: 20px;
}

.control_cate li i {
    margin-right: 10px;
}

.control_cate a {
    display: block;
    line-height: 40px;
    padding-left: 40px;
    color: #fff;
    text-decoration: none;
}

.cate_menu a {
    line-height: 40px;
    padding-left: 60px;
}

.control_cate a {
    border-left: 3px solid transparent;
}

.control_cate a.active {
    border-left: 3px solid #006699;
    background-color: #1D1F21;
}


/* 乐淘顶部栏 */

.lt_topbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #3C8DBC;
    padding-left: 180px;
    padding-left: 180px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    transition: all 1s;
}

.lt_topbar.hidemenu {
    padding-left: 0;
}

.lt_topbar a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}


/* 乐淘右边内容区 */

.lt_content {
    padding-left: 180px;
    padding-top: 50px;
    width: 100%;
    height: 1000px;
    /* background-color: pink; */
    transition: all 1s;
}

.lt_content.hidemenu {
    padding-left: 0;
}


/* 面包屑(路径)导航 */

.breadcrumb {
    margin-top: 15px;
}


/* 表格 */

.table>tbody>tr>td {
    vertical-align: middle;
}